.header {
    padding-top: 13px;
    display: flex;
    margin: 0 auto 0 auto   ;
    flex-wrap: wrap;
}

.tabs {
    margin: auto;
    box-shadow: 0px -1px 0px 0px #00000017 inset;
    padding-bottom: 13px;
}

.tabs span {
    cursor: pointer;
    font-family: Inter UI;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 13px 14px 13px;    
}

.tabs span:first-child {
    margin-right: 15px;
}

.active {
    color: #1890FF;
    border-bottom: 2px solid #1890FF;
}