div .ant-alert {
    width: 410px;
    height: 100%;
    margin-top: 19px;
}

div.ant-card {
    display: flex;
    width: 451px;
    height: 279px;
    border: 0;
    box-shadow: 0px 4px 12px 0px #00000026;
    border-radius: 0;
    margin: 37px 0 0 36px;
}

div.ant-card:first-child, div.ant-card:nth-child(2) {
    margin-top:0;
}































